   <mat-toolbar>
   <div fxFlex fxLayout fxLayoutAlign="center" fxLayoutGap="15%">
       <div class="explore">
           <h2>Explore</h2>
           <p><a href="#">latest songs</a></p>
           <p><a href="#">Top albums</a></p>
           <p><a href="#">Today Top songs</a></p>
       </div>
     
       <div class="explore">
            <h2>Help</h2>
            <p><a href="#">support</a></p>
            <p><a href="#">Guidelines</a></p>
            <p><a href="#">Track my music</a></p>
        </div>
       
     <div class="followUs">
         <h2>Follow Us</h2>
       <p><img src="assets/img/gmail.png" alt="gmail"/>Gmail</p>
       <p><img src="assets/img/facebook.png" alt="facebook"/>Facebook</p>
       <p><img src="assets/img/linked-in.png" alt="Linked-in"/>LinkedIn</p>
     </div>
     
     </div>
     <!-- <mat-icon>copyright</mat-icon> -->
    </mat-toolbar>