<div>
                <mat-toolbar  style="height: 100px" class="navbar" id="main">
                 <mat-toolbar-row>
                   <img src="assets/img/images.jpeg" style="width: 100px;padding-top: 30PX;padding-left: 0px;">
                        
                   <div fxFlex fxLayout fxLayoutAlign="center"  style="padding-top: 40px">
                         <div fxLayout fxLayoutGap="100px">
                                        <p class="heading">MUZIX</p>
                                <app-search></app-search>
                             <a class=play-list1 style="padding-top: 16px;"><button id=button mat-button mat-fab (click)=getPlayList()><mat-icon id=playlist>play_circle_outline</mat-icon>
                             </button></a>
                         </div>
                     </div>
                 </mat-toolbar-row>
                </mat-toolbar>
                </div>